# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Copilot diff state
copilotDiffState.xml
/.idea/copilotDiffState.xml
.idea/copilotDiffState.xml
# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
copilotDiffState.xml
/.idea/copilotDiffState.xml
.idea/copilotDiffState.xml

