# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Copilot diff state
copilotDiffState.xml
/.idea/copilotDiffState.xml
.idea/copilotDiffState.xml
